<ul>
    <% if logged_in? %>
        <li><%= link_to "All Pictures", pictures_path(:index)%></li>
        <li><%= link_to "My Pictures", user_path(current_user)%></li>
        <li><%= link_to "Post a new Picture", new_picture_path%></li>
        <li style="float:right"><%= link_to "Logout", '/logout', method: :delete %></li>
    <%end%>
</ul>